// Custom styles.
body {
    background:url(https://i.loli.net/2020/05/25/7HFhpYAru8GKE4T.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}
.site-brand-container {
	padding: 0
}

.site-meta { 
	background: url(https://i.loli.net/2019/06/03/5cf4d52a4da2f15211.jpg);
    background-size: cover;
	position: 5%;
	h1 { font-size: 23px; }
}
.brand {
    color: rgba(255,255,255,0.7);
}
.site-subtitle {
    color: rgba(255,255,255,0.7);
	font-size: 13px;
}

.header-inner {
    box-shadow: 0 2px 6px #dbdbdb;
    background: url(https://i.loli.net/2019/06/03/5cf4d52a4da2f15211.jpg);
    background-size: cover;
	a { font-size: 13px; }
}


.sidebar {
	opacity: 0.9;
	max-width: 1200px
	box-shadow: 0 2px 6px #dbdbdb;
	p {
		color:  #5d6d7e;
		font-size: 16px;
	}
	li {
		color:  #5d6d7e;
		font-size: 13px;
	}
	span {
		color:  #5d6d7e;
		font-size: 13px;
	}
}


// old next
header{ width: 69% !important; }  
header.post-header {  
width: auto !important;  
}  
.container .main-inner { width: 69%; }  
.content-wrap { width: calc(100% - 260px); }  
  
.header {  
+tablet() {  
width: auto !important;  
}  
+mobile() {  
width: auto !important;  
}  
}  
  
.container .main-inner {  
+tablet() {  
width: auto !important;  
}  
+mobile() {  
width: auto !important;  
}  
}

.content-wrap {  
+tablet() {  
width: 100% !important;  
}  
+mobile() {  
width: 100% !important;  
}  
}  

code {
    color: #ff7600;
    background: rgba(254, 249, 231, 0.1);
    margin: 2px;
}

.btn {
	 border-radius : 12px;// button
}

.content-wrap {  padding: 30px; }

//博客内容透明化

.sidebar-inner {
	background: rgba(255,255,255,0.5);
}
// 去掉文章白色背景
.main-inner {
  background: rgba(255,255,255,0);
}
//文章内容的透明度设置
.content-wrap {
  opacity: 0.8;
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}