// Custom styles.
body {
    background:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}


.site-meta { 
	background:url(https://i.loli.net/2020/05/24/AblUuIpgh59m4Y3.jpg);
    background-size: cover;
	font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.brand {
    color: rgba(255,255,255,0.7);
}
.site-subtitle {
    color: rgba(255,255,255,0.7);
	font-size: 13px;
}

.header-inner {
    box-shadow: 0 2px 6px #dbdbdb;
    background: url(https://i.loli.net/2019/06/03/5cf4d52a4da2f15211.jpg);
    background-size: 100% auto;
}

code {
    color: #ff7600;
    background: rgba(254, 249, 231, 0.1);
    margin: 2px;
}

.btn {
	 border-radius : 12px;// button
}


//博客内容透明化

.sidebar {
	opacity: 0.9;
	box-shadow: 0 2px 6px #dbdbdb;
	p {
		color:  #5d6d7e;
		font-size: 16px;
		font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
	}
	a {
		color:  #5d6d7e;
		font-size: 15px;
		font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
	}
	span {
		color:  #5d6d7e;
		font-size: 14px;
	}
}
.sidebar-inner {
	background: rgba(255,255,255,0.5);
}
//文章内容的透明度设置
.content-wrap {
  opacity: 0.8;
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}